---
import { marked } from "marked"
export interface Props {
  image: string
  title: string
  descr: string
  alt: string
  btnText: string
}

const { image, alt, title, descr, btnText } = Astro.props
---

<section class="cta bg-white py-4 md:p-10 rounded-md shadow-md m-auto w-full md:w-10/12">
  <div class="lg:flex">
    <img
      class="m-auto lg:m-0 w-48 h-48 object-cover rounded-full content-start"
      src={image}
      alt={alt}
    />
    <div class="ml-8">
      <div class="text-gray-600 mt-2">
        <h2 class="text-slate-900 text-3xl font-serif">{title}</h2>
        <p set:html={marked(descr)} />
      </div>
      <a
        class="rounded bg-slate-900 text-white px-4 py-4 md:py-2 mt-4 inline-block text-sm w-48 md:w-auto"
        href="#contact"
        >{btnText}</a
      >
    </div>
  </div>
</section>
