---
interface Props {
  services: {
    title: string
    descr: string
  }
  projects: {
    slug: string
    attributes: {
      Title: string
      Description: string
      featured_after: {
        data: {
          attributes: {
            formats: {
              small: {
                url: string
              }
            }
          }
        }
        alternativeText: string
      }
    }
  }[]
}
const { services, projects } = Astro.props
---

<section
  id="services"
  class="mt-16 container"
>
  <h2 class="text-3xl font-serif mb-3 text-slate-900">{services.title}</h2>
  <div class="md:w-3/5">
    <p set:html={services.descr} />
  </div>
  <div class="mt-6 md:grid md:grid-cols-3 md:gap-4">
    {
      projects.map((project) => (
        <a href={`/services/${project.slug}`}>
          <img
            class="w-full h-40 object-cover rounded-t-md mt-4 md:mt-0"
            src={project.attributes.featured_after.data.attributes.formats.small.url}
            alt={project.attributes.featured_after.alternativeText}
          />
          <div class="border bg-white border-gray-300 p-4 rounded-b-md shadow-md min-h-60">
            <h3 class="text-xl mb-2">{project.attributes.Title}</h3>
            <p class="text-sm text-clip overflow-hidden h-40">{project.attributes.Description}</p>
          </div>
        </a>
      ))
    }
  </div>
</section>
