---
import Layout from '../layouts/Layout.astro';
import CtaCard from '../components/CtaCard.astro';
const strapiUrl = 'http://localhost:1337';
const response = await fetch(`${strapiUrl}/graphql`, 
{
	method: 'POST',
	headers: {
		'Content-Type': 'application/json',
	},
	body: JSON.stringify({
		query: `
			query {
				homepage {
					data {
						attributes {
							cta_title
							cta_descr
							cta_img {
								data {
									attributes {
										name
										alternativeText
										formats
									}
								}
							}
							cta_btn_text
							carousel {
								data {
									attributes {
										name
										alternativeText
										formats
									}
								}
							}
						}
					}
				}
			}

		`,
	}),
});

const json = await response.json();
const data  = json.data.homepage.data.attributes;
// clean up data
const cta = {
	title: data.cta_title,
	descr: data.cta_descr,
	img: data.cta_img.data.attributes.formats.small.url,
	imgAlt: data.cta_img.data.attributes.alternativeText,
	btnText: data.cta_btn_text,
}


---

<Layout  title="Jeffrey Custom Builds">
	<main>
		<CtaCard strapiUrl={strapiUrl} image={cta.img} title={cta.title} descr={cta.descr} btnText={cta.btnText} alt={cta.imgAlt}/>
		<!-- <pre>{JSON.stringify(data, null, 2)}</pre> -->
	</main>
</Layout>


