---
import Layout from '../layouts/Layout.astro';
import CtaCard from '../components/CtaCard.astro';
const strapiUrl = 'http://localhost:1337';
const response = await fetch(`${strapiUrl}/graphql`, 
{
	method: 'POST',
	headers: {
		'Content-Type': 'application/json',
	},
	body: JSON.stringify({
		query: `
			query {
				homepage {
					data {
						attributes {
							cta_title
							cta_descr
							cta_img {
								data {
									attributes {
										name
										alternativeText
										formats
									}
								}
							}
							cta_btn_text
							carousel {
								data {
									attributes {
										name
										alternativeText
										formats
									}
								}
							}
						}
					}
				}
			}

		`,
	}),
});

const json = await response.json();
const data  = json.data.homepage.data.attributes;
// clean up data
const homepage = {
	ctaTitle: data.cta_title,
	ctaDescr: data.cta_descr,
	ctaImg: data.cta_img.data.attributes.formats.small.url,
	ctaImgAlt: data.cta_img.data.attributes.alternativeText,
	ctaBtnText: data.cta_btn_text,
}


---

<Layout  title="Jeffrey Custom Builds">
	<main>
		<CtaCard strapiUrl={strapiUrl} image={homepage.ctaImg} title={homepage.ctaTitle} descr={homepage.ctaDescr} btnText={homepage.ctaBtnText} alt={homepage.ctaImgAlt}/>
		<pre>{JSON.stringify(data, null, 2)}</pre>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 80ch;
	}
	
</style>
