---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const strapiUrl = 'http://localhost:1337';
const response = await fetch(`${strapiUrl}/graphql`, 
{
	method: 'POST',
	headers: {
		'Content-Type': 'application/json',
	},
	body: JSON.stringify({
		query: `
			query {
				homepage {
					data {
						attributes {
							cta_title
							cta_descr
							cta_img {
								data {
									attributes {
										name
										alternativeText
										formats
									}
								}
							}
							cta_btn_text
							carousel {
								data {
									attributes {
										name
										alternativeText
										formats
									}
								}
							}
						}
					}
				}
			}

		`,
	}),
});

const json = await response.json();
const data  = json.data.homepage.data.attributes;
// clean up data
const homepage = {
	ctaTitle: data.cta_title,
	ctaDescr: data.cta_descr,
	ctaImg: data.cta_img.data.attributes.formats.small.url,
	ctaImgAlt: data.cta_img.data.attributes.alternativeText,
	ctaBtnText: data.cta_btn_text,
}


---

<Layout  title="Jeffrey Custom Builds">
	<main>
		<section class="cta bg-white p-10 rounded-md shadow-md">
			<div class="flex">
				<img 
				class="w-28	h-28 object-cover rounded-full"
				src={`${strapiUrl}${homepage.ctaImg}`} 
				alt={homepage.ctaImgAlt}/>
				<div class="ml-4">
					<h2 class="text-gray-800 text-3xl font-serif" >{homepage.ctaTitle}</h2>
					<p class="text-gray-600 mt-2">{homepage.ctaDescr}</p>
					<a class="rounded bg-slate-900 text-white px-4 py-2 mt-4 inline-block text-sm" href="#">{homepage.ctaBtnText}</a>
				</div>
			</div>
		</section>
		<p>{homepage.ctaDescr}</p>
		<pre>{JSON.stringify(data, null, 2)}</pre>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 80ch;
	}
	
</style>
